In [4]:
def next_to_line(lst,number):
    lst.append(number)
    lst.pop(0)
    return list

print(next_to_line([5, 6, 7, 8, 9], 1))

<class 'list'>

In [6]:
def get_budgets(persons):
    total_budget = 0
    for person in persons:
        total_budget += person["budget"]
    return total_budget
persons = [
    {"name": "John", "age": 21, "budget": 23000},
    {"name": "Steve", "age": 32, "budget": 40000},
    {"name": "Martin", "age": 16, "budget": 2700}
]

print(get_budgets(persons))

65700

In [7]:
def alphabet_soup(string):
    sorted_string = ''.join(sorted(string))
    return sorted_string

In [8]:
def compound_interest(p, t, r, n):
    amount = p * (1 + r/n)**(n*t)
    rounded_amount = round(amount, 2)
    return rounded_amount
print(compound_interest(10000, 10, 0.06, 12))

18193.97

In [9]:
def return_only_integer(elements):
    integers = [x for x in elements if isinstance(x, int)]
    return integers