In [3]:
#1
import math
C=50
H=30
D = input("Enter the values of D (comma-separated): ").split(',')
def calculate_value(D):
    values=[]
    for i in D:
        Q = math.sqrt((2 * C * int(i)) / H)
        values.append(int(Q))
    return values

result = calculate_value(D)
print(result)

Enter the values of D (comma-separated): 100,150,180
[18, 22, 24]

In [5]:
#2
def generate_2d_array(X, Y):
    array = [[0] * Y for _ in range(X)]
    for i in range(X):
        for j in range(Y):
            array[i][j] = i * j
    return array
X, Y = map(int, input("Enter the values of X and Y (comma-separated): ").split(','))
result = generate_2d_array(X, Y)
print(result)

Enter the values of X and Y (comma-separated): 15,4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9], [0, 4, 8, 12], [0, 5, 10, 15], [0, 6, 12, 18], [0, 7, 14, 21], [0, 8, 16, 24], [0, 9, 18, 27], [0, 10, 20, 30], [0, 11, 22, 33], [0, 12, 24, 36], [0, 13, 26, 39], [0, 14, 28, 42]]

In [7]:
#3
words = input("Enter the words (comma-separated): ").split(',')
words.sort()
result = ','.join(words)
print(result)

Enter the words (comma-separated): bag,interview,aim,selected
aim,bag,interview,selected

In [8]:
#4
words = input("Enter the words (whitespace-separated): ").split()
words = list(set(words))
words.sort()
result = ' '.join(words)
print(result)

Enter the words (whitespace-separated): hello hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [9]:
#5
sentence = input("Enter the sentence: ")
letters = sum(c.isalpha() for c in sentence)
digits = sum(c.isdigit() for c in sentence)
result = f"LETTERS {letters}\nDIGITS {digits}"
print(result)

Enter the sentence: hello world! 123
LETTERS 10
DIGITS 3

In [12]:
#6
import re
def check_password(password):
    if len(password)<6 or len(password)>12:
        return False
    if not re.search(r"[a-z]", password):
         return False
    if not re.search(r"[A-Z]", password):
        return False
    if not re.search(r"\d", password):
        return False
    if not re.search(r"[$#@]", password):
        return False
    return True

passwords = input("Enter the passwords (comma-separated): ").split(',')
valid_passwords = [password for password in passwords if check_password(password)]
result = ','.join(valid_passwords)
print(result)

Enter the passwords (comma-separated): ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1