In [2]:
#1
def filter_list(lst):
    return [item for item in lst if isinstance(item,int)]

print(filter_list([1, 2, "a", "b"]))
print(filter_list([1, "a", "b", 0, 15]))
print(filter_list([1, 2, "aasf", "1", "123", 123]))

[1, 2]
[1, 0, 15]
[1, 2, 123]

In [3]:
#2
def reverse(string):
    return string[::-1].swapcase()

# Examples
print(reverse("Hello World"))
print(reverse("ReVeRsE"))
print(reverse("Radar"))

DLROw OLLEh
eSrEvEr
RADAr

In [4]:
#3
lst = [1, 2, 3, 4, 5, 6]
first, *middle, last = lst

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [7]:
#4
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))
print(factorial(3))
print(factorial(0))

120
6
1

In [8]:
def move_to_end(lst, element):
    return [x for x in lst if x != element] + [x for x in lst if x == element]

print(move_to_end([1, 3, 2, 4, 4, 1], 1))
print(move_to_end([7, 8, 9, 1, 2, 3, 4], 9))
print(move_to_end(["a", "a", "a", "b"], "a"))

[3, 2, 4, 4, 1, 1]
[7, 8, 1, 2, 3, 4, 9]
['b', 'a', 'a', 'a']